
 .navbar-nav, .nav-link {
    color: white !important ;
  min-width: 300px; 
 display: flex;

 
 
} 








  




.navbar-logo img {
    width: 120px;
    height: 75px;
    margin-right: 50px;
}

.container-fluid {
    background-color: blue;
}
